:root{
    --primary: #81936F;
    --secondary: #B7C6A9;
    --accent: #B7C6A9;
    --dark: #0C0C0B;
    --light: #FAFAF9;
}

body{
    margin:0px;
    padding: 0px;
    height: 100vh;
}

.fullscreen-container{
    background-color:antiquewhite;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, auto);
    /* overflow: hidden; */
}

.header{
    max-width: 95%;
    background-color: aqua;
    grid-area: 1/2/1/-1;
    max-height: 40%;
}

.upper-half{
    max-height: 2rem;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
    padding: 2rem 5rem;
}

.lower-half{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-information{
    /* background-color: rgb(59, 122, 177); */
    display: flex;
    padding: 2em;
    align-items: center;
    gap: 1rem;
}

.introduction{
    align-items: center;
    max-height: 2rem;
}

#larger-img{
    width: 70px;
    height: auto;
    
}


.buttons{
    display: flex;
    max-height: 2rem;
    gap: 1rem;
}

.search{
    display: flex;
    gap: 2rem;
    width: 50%;
}

input{
    border-radius: 10px;
    border: transparent;
    width: 100%;
}

.first-information{
    display: flex;
    gap: 2rem;
}

.icons{
    max-width: 30px;
    height: auto;
}

.first-information h3{
    color: var(--dark);
}